section{
    margin: 20px 0;
}
.column-green {
    height: 100%;
    border: solid;
    background: #1ca52c;
    width: 70%;
}
.column-yellow {
    height: 70%;
}
.column {
    height: 100px
}
.column-left {
    height: 100%;
    width: 70%;
}
